#================================================
# Directory
#================================================

/**/build/
/**/debug/
/**/release/

#================================================
# File
#================================================

/**/~$*
